<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center">
          &copy; 2017 OUTPOST. Designed by
          <a target="_blank" href="http://themeinthebox.com" title="Free Twitter Bootstrap WordPress Themes and HTML templates">GUYAN</a>
        </p>

        <ul class="social-icons text-center">
          <li>
            <a href="#">
              <i class="fa fa-weixin"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-weibo"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
